.content
{
    margin:auto;
    width: 80%;
    height: 500px;
    margin-top: 10%;
}

.logger
{
    border:black dashed 3px;
    padding:1em;
    margin: 5vh auto;
    width: 90%;
    height: 500px;
    font-size: 20px;
    overflow: auto;
}


body {background: #333;}
.log-boolean,
.log-undefined {color: magenta;}
.log-object,
.log-string {color: orange;}
.log-number {color: cyan;}

.insert
{
    width: 100%;
    height: 3em;
    background:white;
    border-radius: 1em;
    display: flex;
}
.insert input
{
    width: 95%;
    height: 80%;
    margin:auto;
}